
.header{
  display: flex;
  background-color: white;
  color: black;
}

.title{
  margin-left: 50px;
  margin-top: 15px;
}
.mode {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  margin-top: 15px;
}

.search{
  display: flex;
  align-items: center;
}

.CountryInfo{
  display: flex;
  align-items: center;
  justify-content: space-around;
}